<h1 class="m-2">News feed</h1>

<div class="m-2">
    <span>Sort by</span>
    <button class="btn btn-outline-primary m-2" (click)="getItemsSortedByDate()">Date</button>
    <button class="btn btn-outline-primary m-2" (click)="getItemsSortedByChannel()">Name</button>
    <button class="btn btn-outline-primary m-2" (click)="getItems()">Default</button>
</div>

<div class="m-2">
    <span class>Choose Channel</span>
    <select class="btn btn-outline-primary  m-2" [(ngModel)]="selected" (click)="getByChannelName()">
        <option *ngFor="let n of channels">{{n}}</option>
    </select>
</div>

<div class="m-2">
    <span>Page</span>
    <button class="btn btn-primary m-2" (click)="getPrevPage()"><i class="fa-solid fa-angle-left"></i></button>
    {{page}}
    <button class="btn btn-primary m-2" (click)="getNextPage()"><i class="fa-solid fa-angle-right"></i></button>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Channel</th>
            <th>Title</th>
            <th>Link</th>
            <th>Description</th>
            <th>Publich date</th>
        </tr>
        <tr *ngFor="let item of items">
            <td scope="row">{{item.id}}</td>
            <td>{{item.channelTitle}}</td>
            <td>{{item.title}}</td>
            <td><a href="{{item.link}}"  target="_blank">{{item.link}}</a></td>
            <td [innerHTML]="item.description"></td>
            <td class="date">{{item.pubDate | date :'short'}}</td>
        </tr>
    </table>
</div>

